<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../statics/reset.css">
    <link rel="stylesheet" href="../statics/font.css">
    <link rel="stylesheet" href="../statics/style.css">

</head>
<body>
    <header>
        <nav id="nav-info" class="bar">
            <div></div>
            <div>
                <span>회원가입</span>
                <span>로그인</span>
            </div>
        </nav>
        <nav id="nav-board" class="bar">
            <div id="logo">Nest.Net</div>
            <div>
                <span>공지사항</span>
                <span>자유게시판</span>
                <span>자료실</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="content">
            <div id="post">
                <div id="post-header">
                    <div id="post-title">
                        <h1>가입했어요</h1>
                    </div>
                    <div id="post-header-info">
                        <div>
                            <img src="https://via.placeholder.com/150">
                        </div>
                        <div>
                            <div id="post-auther">
                                <p>서도원</p>
                            </div>
                            <div id="post-time">
                                <p>23/01/01 12:00:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-body">
                    <div>
                        서도원입니다
                    </div>
                </div>
                <div class="post-footer">
                    <div>
                        <div>
                            <div>
                                댓글제목 도원
                            </div>
                            <div>
                                댓글내용 반가워요1
                            </div>
                        </div>
                    </div>
                    <div>
                        <textarea>123</textarea>
                        <button>댓글 쓰기</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>nestnet</p>
    </footer>
</body>
</html>